<header class="header clearfix">
    <nav>    
      <ul class="nav nav-pills pull-right">
        <li class="nav-item"><%= link_to "Home", root_path , class: "nav-link active" %></li>
        <% if logged_in? %>
          <li class="nav-item"><%= link_to "Log out", logout_path, method: "delete", class: "nav-link active" %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
    <h3 class="text-muted">Flickr Image Gallery</h3>
    <% if logged_in? %> <h5 class="pull-left">Howdy, <%=current_user.name%></h5><% end %>
</header>
<hr>


